:root {
  /* ## Colors */
  --white: hsl(0, 0%, 100%);
  --light: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);

  /* FONT */
  --paragraph: 15px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  background-color: var(--light);
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container {
  max-width: 1440px;
}
.box {
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background-color: var(--white);
  padding: 20px;
  border-radius: 20px;
}

.box .image {
  width: 300px;
}

.box .image img {
  width: 100%;
}

.box .desc {
  text-align: center;
}

.box .desc .head {
  margin: 20px 0;
  padding: 10px;
}

.box .desc .para {
  margin: 20px 0;
  padding: 10px;
  font-size: var(--paragraph);
}
.attribution {
  padding: 5px;
}
